
#mainContainer
{
	height: 400px;
	width: 100%;
	margin: auto;
	text-align: center;
}


body,ul
{
	margin: 0;
}

li
{
	
	list-style: none;
}

#navBar
{
	height: 60px;
	width: 100%;
	margin-bottom: 40px;
	background-color: black;
}

.innerContainer
{

	max-width: 300px;
	min-width: 150px;
	color: #f7f7f7;
	padding: 10px;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	background-color: #fb9146;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin: auto;
}

@media screen and (max-width: 600px){
	#mainContainer
	{
		width: 100%;	
	}
}
