 #header
 {   
    height: 10%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
 
}

#weather
{
    width: 98%;
    text-align: center;
}


 .headerBoxes

{
    padding-top: 8px;
    height: 60px;
    width: 80px;
    margin: auto;
    text-align: center;
     
}

 .headerBoxCenter
{
    padding-top: .5px;
    text-align: center;
    margin-left: 385px;
    width: 20%;
    height: 100%;
    margin: auto;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}


 li 
{
    list-style: none;
}

 .latLongSearch
{
    width: 100%;
    height: 60px;
    background-color: #FBFBFF;
    position: relative;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    -moz-box-shadow: 0 0 12px #ccc;
    -webkit-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
 }
 
 button 
{
    height: 25px;
    width: 10%;
    background-color: grey;
    color: white;
    float: left;
    text-align: center;
    margin-left: 1%;
    border-radius: 5px;
    bottom: 2px;
}

 .inputLeft
 {
    width: 15%;
    height: 20px;
    float: left;
    border-radius: 5px;
    margin-left: 10%;
    bottom: 2px;
    float:left;
}
 .inputRight
{
    width: 15%;
    height: 20px;
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    bottom: 2px;
    float:left;
}

 .labelLeft
{
    margin-left: 10%;
    float:left;
    font-family: 'Open Sans Condensed', sans-serif;
}

 .labelRight
{
    margin-left: 10%;
    float:left;
    font-family: 'Open Sans Condensed', sans-serif;    
}

 .container
{
    outline-style: 2px solid black;
    margin: 0 auto;
    width: 80%;
    padding: 15px; 
    background-color: #FBFBFF;
    margin-bottom: 15px;
    border-radius: 5px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    -moz-box-shadow: 0 0 12px #ccc;
    -webkit-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
}
 
 .box
{
    
    height: 280px;
    width: 30%;
    color: black;
    margin: 0px 0px 10px 1%;
    text-align: center;
    border-radius: 5px;
    display:inline-block;
    background-color: #FFFFFF;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    -moz-box-shadow: 0 0 12px #ccc;
    -webkit-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
    font-family: 'Open Sans Condensed', sans-serif;
}

 #map-canvas 
{
    height: 400px;
    width: 93%;
    margin:  auto;
    margin-top: 15px;
}

@media screen and (max-width: 600px){
    .box
    {
        width: 100%;
    }

    #header
    {   
        margin: auto;
        text-align: center;
    }

    ul, li
    {
        margin: auto;
        text-align: center;
    }
    
    .boxCenter
    {
        width: 100%;
    }

    .latLongSearch
    {
        width: 100%;
    }

    button{

       width: 15%;
       margin-left: 3%;

    }

    .inputLeft
 {
    width: 10%;
    margin-left: 8%;
        
    }
    .inputRight
    {
        width: 15%;
        margin-left: 8%;
        
    }

    .labelLeft
    {
        width: 10%;
        margin-left: 8%;
        
    }

    .labelRight
    {
        width: 10%;
        margin-left: 8%;
           
    }

    .headerBoxCenter
    {
        width: 50%;
    }
}
