
body
{
	background-color: #FFFFFF;
}


#header > ul > li:nth-child(4)
{
	list-style: none;
}

#header > ul > li.headerBoxes.headerBoxesLeft.fullStack.fullStackLogo
{
	list-style:none;
}

#header > ul > li:nth-child(2)
{
	list-style: none;

}

#header > ul > li:nth-child(5)
{
	list-style: none;
}

#header > ul > li:nth-child(7)
{
	list-style: none;

}

#header > ul > li:nth-child(6)
{
	list-style: none;
}

a:hover
{
	text-decoration: none;
}

#header
{
	
	height: 60px;
	width: 100%;
	color: #FFFFFF;
	position: absolute;
	margin-top: 60px;
	font-size: 18px;
}

.headerBoxes
{
	height: 60px;
	width: 8%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.headerBoxesLeft
{
	
	position: relative;
	float: left;
}

.fullStackLogo
{	
	width: 6.5%;
}

.carouselHolders
{
	width: 32%;
	height: 320px;
	margin-left: 1%;
	margin-top: .8%;
	padding: 10px;
	border: 1px solid black;
	float: left;
}

.carouselHolders2
{
	width: 32%;
	height: 320px;
	margin-left: 12px;
	margin-top: 15px;
	padding: 10px;
	display: none;
	border: 1px solid black;
	float: left;
}

.carouselHolders21
{
	width: 32%;
	height: 320px;
	margin-left: 311px;
	margin-top: 16px;
	padding: 10px;
	display: none;
	border: 1px solid black;
	float: left;
}

.carouselHolders22
{
	width: 32%;
	height: 320px;
	margin-left: 360px;
	margin-top: 37px;
	padding: 10px;
	display: none;
	border: 1px solid black;
	float: left;
}

.image
{
	width: 230px;
	height:140px;
	border-radius: 2px;
}

.image1
{
	background-image: url('/img/adlister.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.image2
{
	background-image: url('/img/SimpleSimon.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.image3
{
	background-image: url('/img/weatherAPI.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.image4
{
	background-image: url('/img/weatherAPI.png');
	background-size: cover;
	display: none;
	background-repeat: no-repeat;
}

.image5
{
	background-image: url('/img/weatherAPI.png');
	background-size: cover;
	display: none;
	background-repeat: no-repeat;
}

.image6
{
	background-image: url('/img/weatherAPI.png');
	background-size: cover;
	display: none;
	background-repeat: no-repeat;
}
.projectDescription
{
	width: 230px;
	height:160px;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.carouselSection
{
	height: 590px;
	
}
.carouselLeft
{	height: 50px;
	width: 50px;
	float: left;
	margin-top: 150px;
	margin-left: 155px;
	display:inline-block;
	background-size: cover;
	background-position: center center;
	background-image: url('/img/leftArrow.png');
}

.carouselRight
{	height: 50px;
	width: 50px;
	float: right;
	margin-top: 150px;
	display: inline-block;
	background-size: cover;
	margin-right: 160px;
	background-position: center center;
	background-image: url('/img/rightArrow.png');
}


.carouselSize 
{
	
	margin-bottom: 30px;
	margin-left: 241px;
	padding: 8px;
	width: 62%;
	position: absolute;
	border: 1px solid black;
}

.carouselSize2
{
	margin-top: 210px;
	margin-bottom: 30px;
	margin-left: 241px;
	height: 350px;
	width: 800px;
	position: absolute;
	border: 1px solid black;
}

.projectsInDevelopment 
{
	margin-top: 210px;
	margin-bottom: 30px;
	margin-left: 241px;
	height: 350px;
	width: 800px;
	background-color: white;
	position: relative;
	border: 1px solid black;
}

.fullStack
{
	width: 6.4%;
	background-image: url('/img/fullstack.png');
}

.headerBoxesRight
{	

	margin-right: 30px;
	position: relative;
	float: right;
}

#headerContainerImage
{
	height: 620px;
	background-image: url('/img/LA1.jpg');
}

#titleBox > div.titleParagraph > p
{

	margin-top: 150px;
	margin-left: -40px;

}
#titleBox
{

	height: 375px;
	width: 90%;
	float: left;
	margin-left: 47px;
	margin-top: 180px;

}
.carouselArrowContainer
{
	width: 100%;
	height: 390px;
	position: absolute;
	margin-top: 200px;
	padding-bottom: 50px;
}

.subTitle
{
	width: 1000px;
	height: 70px;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 3.5em;
	padding-top: 80px;

}

#submit
{
	outline: none;
	border-radius: 3px;
	background-color: #252525;
}
.titleParagraph
{
	width: 700px;
	height: 80px;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	margin-left: 45px;
	position: relative;
}



#columns
{
	width: 30%;
	border-top: 1px solid grey;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 3%;
	border-bottom: 1px solid grey;
	float: left;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

.column2
{
	width: 30%;
	border-top: 1px solid grey;
	margin-top: 30px;
	margin-left: 3%;
	border-bottom: 1px solid grey;
	float: left;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

.column3
{
	width: 30%;
	border-top: 1px solid grey;
	margin-top: 30px;
	margin-left: 3%;
	border-bottom: 1px solid grey;
	float: left;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

.columnsHover
{

    -moz-box-shadow: 0 0 12px #ccc;
    -webkit-box-shadow: 0 0 12px #ccc;
    box-shadow: 0 0 12px #ccc;
}

#responsiveDesignSection
{
	height: 100px;
	background-color: black;
}


.Content
{
	height: 200px;
	
}

.footer {
  
  bottom: 0;
  width: 100%;
  height: 320px;
  background-color: #252525;
  text-align: center;
}

.container
{
  
  color: #fff;
  width: 100%;
}

#footerColumns
{
	width: 300px;
	height: 135px;
	margin-top: 150px;
	margin-left: 100px;
	text-align: left;
	float: left;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: #A1A1A1;
}

.whiteHeader
{
	color: #FFF;
}

.footerColumn
{
	width: 302px;
	height: 220px;
	display: inline-block;
	color: #A1A1A1;
	float: left;
	height: 135px;
	text-align: center;
}

.secondFooterColumn
{

	margin-left: 108px;
	margin-top: 110px;
	color: #A1A1A1;
}

.footerSkills
{
	width: 150px;
	height: 70px;
	margin-top: -12px;
	text-align: left;
	float: left;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: #A1A1A1;
}

a
{
	color: white;
}

#footerColumn3
{
	width: 340px;
	height: 251px;
	margin-left: 60px;
	margin-top: 25px;
	text-align: left;
	float: left;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
}

.skillsHeader
{
	width: 150px;
	height: 50px;
	margin-top: 57px;
	margin-left: 50px;
	color: white;
	font-family: 'Raleway', sans-serif;
}

.input
{
	border-radius: 3px;
	background-color: #252525;
	display: inline-block;
	left: 12px;
	outline: none;
}

textarea
{
	outline: none;
}

button
{
	outline: none;
	border-radius: 3px;
	background-color: #252525;
}
.main-footer
{
	position: absolute;
	width: 100%;
	border-top:3px solid #000;
	color:#dddddd;
}

#logo
{
	width:800px;
	height:200px;
	background-image: url('../img/logoWeb.png');
	float:left;
	position: absolute;
	margin-right: 500px;
	margin-left: 20px;
}

.liHover
{
	font-weight: 400;
}


#thankYou
{
	width: 800px;
	height: 350px;
	padding-top: 50px;
	padding-bottom: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 228px;
	box-shadow:2px 2px 10px 10px #888888;
    -webkit-box-shadow:2px 2px 10px 10px #888888;
    -moz-box-shadow:2px 2px 10px 10px #888888;
    font-family: 'Raleway', sans-serif;
    background-color: #252525;
    border-radius: 4px;
    color: white;
}

#logoThankYou
{
	width:800px;
	height:200px;
	background-image: url('../img/logoWeb.png');
	float:left;
	position: absolute;
	margin-right: 500px;
	margin-top: 100px;
	margin-left: 20px;
}

@media screen and (max-width: 600px){
	#header
	{
		width: 100%;
	}

	#titleBox
	{
		margin: auto;
		width:100%;
	}

	#columns
	{
		width: 100%;
	}

	.carouselSize
	{
		width: 100%;
	}

	.column2
	{
		width: 100%;
	}

	.column3
	{
		width: 100%;
	}

	.fullStack
	{
		width: 22%;
	}
}
